In [1]:
import pandas as pd
import numpy as np

In [2]:
adaniports=pd.read_csv("stocks(2000-2021)csvfile/ADANIPORTS.csv")
adaniports["Name"]="ADANIPORTS"
aspaint=pd.read_csv("stocks(2000-2021)csvfile/ASIANPAINT.csv")
aspaint["Name"]="ASIANPAINT"
axbnk=pd.read_csv("stocks(2000-2021)csvfile/AXISBANK.csv")
axbnk["Name"]="AXISBANK"
bjajauto=pd.read_csv("stocks(2000-2021)csvfile/BAJAJ-AUTO.csv")
bjajauto["Name"]="BAJAJ-AUTO"
bajajfinsv=pd.read_csv("stocks(2000-2021)csvfile/BAJAJFINSV.csv")
bajajfinsv["Name"]="BAJAJFINSV"
bajajfinance=pd.read_csv("stocks(2000-2021)csvfile/BAJFINANCE.csv")
bajajfinance["Name"]="BAJAJFINANCE"
bhartiart=pd.read_csv("stocks(2000-2021)csvfile/BHARTIARTL.csv")
bhartiart["Name"]="BHARTIARTL"
bpcl=pd.read_csv("stocks(2000-2021)csvfile/BPCL.csv")
bpcl["Name"]="BPCL"
britannia=pd.read_csv("stocks(2000-2021)csvfile/BRITANNIA.csv")
britannia["Name"]="BRITANNIA"
cipla=pd.read_csv("stocks(2000-2021)csvfile/CIPLA.csv")
cipla["Name"]="CIPLA"
coalindia=pd.read_csv("stocks(2000-2021)csvfile/COALINDIA.csv")
coalindia["Name"]="COALINDIA"
dreddy=pd.read_csv("stocks(2000-2021)csvfile/DRREDDY.csv")
dreddy["Name"]="DRREDDY"
eichermot=pd.read_csv("stocks(2000-2021)csvfile/EICHERMOT.csv")
eichermot["Name"]="EICHERMOT"
gail=pd.read_csv("stocks(2000-2021)csvfile/GAIL.csv")
gail["Name"]="GAIL"
grasim=pd.read_csv("stocks(2000-2021)csvfile/GRASIM.csv")
grasim["Name"]="GRASIM"
hcltech=pd.read_csv("stocks(2000-2021)csvfile/HCLTECH.csv")
hcltech["Name"]="HCLTECH"
hdfc=pd.read_csv("stocks(2000-2021)csvfile/HDFC.csv")
hdfc["Name"]="HDFC"
hdfcbnk=pd.read_csv("stocks(2000-2021)csvfile/HDFCBANK.csv")
hdfcbnk["Name"]="HDFC BANK"
heromotoco=pd.read_csv("stocks(2000-2021)csvfile/HEROMOTOCO.csv")
heromotoco["Name"]="HERO MOTOCO"
hindalco=pd.read_csv("stocks(2000-2021)csvfile/HINDALCO.csv")
hindalco["Name"]="HINDALCO"
hindunil=pd.read_csv("stocks(2000-2021)csvfile/HINDUNILVR.csv")
hindunil["Name"]="HINDUNILVR"
icicbnk=pd.read_csv("stocks(2000-2021)csvfile/ICICIBANK.csv")
icicbnk["Name"]="ICICI BANK"
indusindbnk=pd.read_csv("stocks(2000-2021)csvfile/INDUSINDBK.csv")
indusindbnk["Name"]="INDUSIND BANK"
infratel=pd.read_csv("stocks(2000-2021)csvfile/INFRATEL.csv")
infratel["Name"]="INFRATEL"
infy=pd.read_csv("stocks(2000-2021)csvfile/INFY.csv")
infy["Name"]="INFY"
ioc=pd.read_csv("stocks(2000-2021)csvfile/IOC.csv")
ioc["Name"]="IOC"
itc=pd.read_csv("stocks(2000-2021)csvfile/ITC.csv")
itc["Name"]="ITC"
jswsteel=pd.read_csv("stocks(2000-2021)csvfile/JSWSTEEL.csv")
jswsteel["Name"]="JSWSTEEL"
kotakbank=pd.read_csv("stocks(2000-2021)csvfile/KOTAKBANK.csv")
kotakbank["Name"]="KOTAK BANK"
lt=pd.read_csv("stocks(2000-2021)csvfile/LT.csv")
lt["Name"]="LT"
maruti=pd.read_csv("stocks(2000-2021)csvfile/MARUTI.csv")
maruti["Name"]="MARUTI"
mm=pd.read_csv("stocks(2000-2021)csvfile/MM.csv")
mm["Name"]="MM"
nestleind=pd.read_csv("stocks(2000-2021)csvfile/NESTLEIND.csv")
nestleind["Name"]="NESTLE IND"
nifty50=pd.read_csv("stocks(2000-2021)csvfile/NIFTY50_all.csv")
nifty50["Name"]="NIFTY50"
ntpc=pd.read_csv("stocks(2000-2021)csvfile/NTPC.csv")
ntpc["Name"]="NTPC"
ongc=pd.read_csv("stocks(2000-2021)csvfile/ONGC.csv")
ongc["Name"]="ONGC"
powergrid=pd.read_csv("stocks(2000-2021)csvfile/POWERGRID.csv")
powergrid["Name"]="POWER GRID"
reliance=pd.read_csv("stocks(2000-2021)csvfile/RELIANCE.csv")
reliance["Name"]="RELIANCE"
sbin=pd.read_csv("stocks(2000-2021)csvfile/SBIN.csv")
sbin["Name"]="SBIN"
shreecem=pd.read_csv("stocks(2000-2021)csvfile/SHREECEM.csv")
shreecem["Name"]="SHREE CEMENT"
sunpharma=pd.read_csv("stocks(2000-2021)csvfile/SUNPHARMA.csv")
sunpharma["Name"]="SUNPHARMA"
tatamotors=pd.read_csv("stocks(2000-2021)csvfile/TATAMOTORS.csv")
tatamotors["Name"]="TATA MOTORS"
tatasteel=pd.read_csv("stocks(2000-2021)csvfile/TATASTEEL.csv")
tatasteel["Name"]="TATA STEEL"
tcs=pd.read_csv("stocks(2000-2021)csvfile/TCS.csv")
tcs["Name"]="TCS"
techm=pd.read_csv("stocks(2000-2021)csvfile/TECHM.csv")
techm["Name"]="TECHM"
titan=pd.read_csv("stocks(2000-2021)csvfile/TITAN.csv")
titan["Name"]="TITAN"
ultratech=pd.read_csv("stocks(2000-2021)csvfile/ULTRACEMCO.csv")
ultratech["Name"]="ULTRATECH CEMENT"
upl=pd.read_csv("stocks(2000-2021)csvfile/UPL.csv")
upl["Name"]="UPL"
vedl=pd.read_csv("stocks(2000-2021)csvfile/VEDL.csv")
vedl["Name"]="VEDL"
wipro=pd.read_csv("stocks(2000-2021)csvfile/WIPRO.csv")
wipro["Name"]="WIPRO"
zeel=pd.read_csv("stocks(2000-2021)csvfile/ZEEL.csv")
zeel["Name"]="ZEEL"

In [3]:
allmarketstock=pd.concat([adaniports,
aspaint,
axbnk,
bjajauto,
bajajfinsv,
bajajfinance,
bhartiart,
bpcl,
britannia,
cipla,
coalindia,
dreddy,
eichermot,
gail,
grasim,
hcltech,
hdfc,
hdfcbnk,
heromotoco,
hindalco,
hindunil,
icicbnk,
indusindbnk,
infratel,
infy,
ioc,
itc,
jswsteel,
kotakbank,
lt,
maruti,
mm,
nestleind,
nifty50,
ntpc,
ongc,
powergrid,
reliance,
sbin,
shreecem,
sunpharma,
tatamotors,
tatasteel,
tcs,
techm,
titan,
ultratech,
upl,
vedl,
wipro,
zeel])

In [4]:
allmarketstock

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Name
0,2007-11-27,MUNDRAPORT,EQ,440.0,770.0,1050.0,770.0,959.0,962.9,984.72,27294366,2687719053785000.0,NaN,9859619,0.3612,ADANIPORTS
1,2007-11-28,MUNDRAPORT,EQ,962.9,984.0,990.0,874.0,885.0,893.9,941.38,4581338,431276530165000.0,NaN,1453278,0.3172,ADANIPORTS
2,2007-11-29,MUNDRAPORT,EQ,893.9,909.0,914.75,841.0,887.0,884.2,888.09,5124121,455065846265000.0,NaN,1069678,0.2088,ADANIPORTS
3,2007-11-30,MUNDRAPORT,EQ,884.2,890.0,958.0,890.0,929.0,921.55,929.17,4609762,428325662830000.0,NaN,1260913,0.2735,ADANIPORTS
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.0,922.0,980.0,969.3,965.65,2977470,287519974300000.0,NaN,816123,0.2741,ADANIPORTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ZEEL,EQ,188.0,190.6,191.1,185.1,186.7,186.4,187.35,8542755,160045091320000.0,52374.0,2340188.0,0.2739,ZEEL
5302,2021-04-27,ZEEL,EQ,186.4,188.0,192.95,186.8,188.8,188.15,189.41,14247767,269863561455000.03125,73673.0,5425957.0,0.3808,ZEEL
5303,2021-04-28,ZEEL,EQ,188.15,188.8,190.6,187.1,188.95,189.1,188.85,8429439,159191670670000.0,44056.0,2413974.0,0.2864,ZEEL
5304,2021-04-29,ZEEL,EQ,189.1,190.8,191.65,186.0,186.6,186.55,187.44,9483009,177747101950000.0,60932.0,2744472.0,0.2894,ZEEL
5305,2021-04-30,ZEEL,EQ,186.55,185.3,190.95,183.65,185.0,185.6,187.53,11435285,214443986430000.0,62607.0,3323909.0,0.2907,ZEEL

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [6]:
encoder = OneHotEncoder()

In [7]:
encoder.fit(allmarketstock[['Name']])

OneHotEncoder()

In [8]:
column_trans=make_column_transformer((OneHotEncoder(categories=encoder.categories_),['Name']),remainder='passthrough')

In [9]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories=[array(['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO',
       'BAJAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL', 'BPCL', 'BRITANNIA',
       'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM',
       'HCLTECH', 'HDFC', 'HDFC BANK', 'HERO MOTOCO', 'HINDALCO',
       'HINDUNILVR', 'ICICI BANK', 'INDUSIND BANK', 'INFY', 'IOC', 'ITC',
       'JSWSTEEL', 'KOTAK BANK', 'LT', 'MARUTI', 'MM', 'NESTLE IND',
       'NIFTY50', 'NTPC', 'ONGC', 'POWER GRID', 'RELIANCE', 'SBIN',
       'SHREE CEMENT', 'SUNPHARMA', 'TATA MOTORS', 'TATA STEEL', 'TCS',
       'TECHM', 'TITAN', 'ULTRATECH CEMENT', 'UPL', 'VEDL', 'WIPRO',
       'ZEEL'], dtype=object)]),
                                 ['Name'])])

In [10]:
allmarketstock

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,Name
0,2007-11-27,MUNDRAPORT,EQ,440.0,770.0,1050.0,770.0,959.0,962.9,984.72,27294366,2687719053785000.0,NaN,9859619,0.3612,ADANIPORTS
1,2007-11-28,MUNDRAPORT,EQ,962.9,984.0,990.0,874.0,885.0,893.9,941.38,4581338,431276530165000.0,NaN,1453278,0.3172,ADANIPORTS
2,2007-11-29,MUNDRAPORT,EQ,893.9,909.0,914.75,841.0,887.0,884.2,888.09,5124121,455065846265000.0,NaN,1069678,0.2088,ADANIPORTS
3,2007-11-30,MUNDRAPORT,EQ,884.2,890.0,958.0,890.0,929.0,921.55,929.17,4609762,428325662830000.0,NaN,1260913,0.2735,ADANIPORTS
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.0,922.0,980.0,969.3,965.65,2977470,287519974300000.0,NaN,816123,0.2741,ADANIPORTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5301,2021-04-26,ZEEL,EQ,188.0,190.6,191.1,185.1,186.7,186.4,187.35,8542755,160045091320000.0,52374.0,2340188.0,0.2739,ZEEL
5302,2021-04-27,ZEEL,EQ,186.4,188.0,192.95,186.8,188.8,188.15,189.41,14247767,269863561455000.03125,73673.0,5425957.0,0.3808,ZEEL
5303,2021-04-28,ZEEL,EQ,188.15,188.8,190.6,187.1,188.95,189.1,188.85,8429439,159191670670000.0,44056.0,2413974.0,0.2864,ZEEL
5304,2021-04-29,ZEEL,EQ,189.1,190.8,191.65,186.0,186.6,186.55,187.44,9483009,177747101950000.0,60932.0,2744472.0,0.2894,ZEEL
5305,2021-04-30,ZEEL,EQ,186.55,185.3,190.95,183.65,185.0,185.6,187.53,11435285,214443986430000.0,62607.0,3323909.0,0.2907,ZEEL

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr=LinearRegression()

In [13]:
x_train = allmarketstock.loc[allmarketstock['Date'] <= '2018-01-01', ['Prev Close', 'Open', 'High', 'Low', 'Last', 'VWAP','Name']]
y_train = allmarketstock.loc[allmarketstock['Date'] <= '2018-01-01', 'Close']

In [14]:
x_test = allmarketstock.loc[allmarketstock['Date'] > '2018-01-01', ['Prev Close', 'Open', 'High', 'Low', 'Last', 'VWAP','Name']]
y_test = allmarketstock.loc[allmarketstock['Date'] > '2018-01-01', 'Close']

In [17]:
from sklearn.pipeline import make_pipeline
pipe=make_pipeline(column_trans,lr)

In [18]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO',
       'BAJAJFINANCE', 'BAJAJFINSV', 'BHARTIARTL', 'BPCL', 'BRITANNIA',
       'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM',
       'HCLTECH', 'HDFC', 'HDFC BANK', 'HERO MOTOCO...
       'HINDUNILVR', 'ICICI BANK', 'INDUSIND BANK', 'INFY', 'IOC', 'ITC',
       'JSWSTEEL', 'KOTAK BANK', 'LT', 'MARUTI', 'MM', 'NESTLE IND',
       'NIFTY50', 'NTPC', 'ONGC', 'POWER GRID', 'RELIANCE', 'SBIN',
       'SHREE CEMENT', 'SUNPHARMA', 'TATA MOTORS', 'TATA STEEL', 'TCS',
       'TECHM', 'TITAN', 'ULTRATECH CEMENT', 'UPL', 'VEDL', 'WIPRO',
       'ZEEL'], dtype=object)]),
                                                  ['Name'])])),
                ('linearregression', LinearRegression())])

In [19]:
y_pred=pipe.predict(x_test)

In [20]:
from sklearn.metrics import mean_squared_error

In [22]:
y_lr=pd.Series(y_pred,index=y_test.index)
mse = mean_squared_error(y_test, y_lr)
np.sqrt(mse)

15.64058693309435

In [29]:
pipe.predict(pd.DataFrame([[688.10,698.90,753.40,693.15,730.10,732.75,'HDFC']],columns=['Prev Close','Open','High','Low',
'Last','VWAP','Name']))

array([732.95592353])